<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reklama</title>
</head>
<body>
    {%extends 'base.html'%}
    {% block content%}
    <div class="container">
        <h1>reklama</h1>
        <p>qongiroq qiling:</p>
         <a href="tel:+998939621716">+998939621716</a>
        <p>reklama boyicha <a href="reklama@kun.uz">Telegram</a>orqali murijat qiling</p>
    </div>

    {%endblock content%}
</body>
</html>